name: Docker
on:
  workflow_call:

env:
  CONTAINER_REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  push:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/download-artifact@v3
        with:
          name: build

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: setup docker buildx
        uses: docker/setup-buildx-action@v3

      - name: Login
        uses: docker/login-action@v3
        with:
          registry: ${{ env.CONTAINER_REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set release info
        run: |
          set -vx
          echo "RELEASE_VERSION=$(echo ${{ github.ref_name }} | sed 's/v//g' | sed 's/+/-/g')" >> $GITHUB_ENV
          if [ "${{ github.action }}" != "released" ]; then
            echo "TAGS=${{ env.CONTAINER_REGISTRY }}/${{ env.IMAGE_NAME }}:${{ env.RELEASE_VERSION }}" >> $GITHUB_ENV
          else
            echo "TAGS=${{ env.CONTAINER_REGISTRY }}/${{ env.IMAGE_NAME }}:${{ env.RELEASE_VERSION }},${{ env.CONTAINER_REGISTRY }}/${{ env.IMAGE_NAME }}:latest" >> $GITHUB_ENV
          fi
          ${{ toJson(github.event) }}

    #   - name: Build and push
    #     id: docker_build
    #     uses: docker/build-push-action@v5
    #     with:
    #       context: .
    #       push: true
    #       tags: ${{ env.TAGS }}
    #       labels: |
    #         org.opencontainers.image.source=https://github.com/${{ env.IMAGE_NAME }}
    #         org.opencontainers.image.version=${{ env.RELEASE_VERSION }}
    #         org.opencontainers.image.description=${{ github.event.release.body }}
